<%= render "layouts/event_header" %>

<%= form_for @fee do |f| %>
  <div class="form-group">
    <%= f.label :name, "Fee name", :class => "flabel" %>
    <%= f.text_field :name, :placeholder => "Fee name", :name => "fee[name]", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :amount, "Fee amount", :class => "flabel" %>
    <%= f.text_field :amount, :placeholder => "0.00", :name => "fee[amount]", :class => "form-control" %>
  </div>

  <%= f.submit "Save Changes", :class => "btn btn-primary" %>

<% end %>
