<div id="fee-group">
  <br>
    <%= f.fields_for :fee do |builder| %>
    <div class="form-group">
      <%= builder.label :name, "Fee name", :class => "flabel" %>
      <%= builder.text_field :name, :placeholder => "Fee name", :name => "event[fee][name][]", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= builder.label :amount, "Fee amount", :class => "flabel" %>
      <%= builder.text_field :price, :placeholder => "0.00", :name => "event[fee][amount][]", :class => "form-control" %>
    </div>

     <% end %>
</div>