<%= render "layouts/event_header"  %>
<%= render "add_fee_modal"  %>

<section id="widget-grid" class="">
        
          <!-- row -->
          <div class="row">
        
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        
            <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueLight" id="wid-id-0" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false"  data-widget-editbutton="false" role="widget" style="" data-widget-attstyle="jarviswidget-color-green">

              <header role="heading">
                  <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              </header>
        
                <!-- widget div-->
                <div role="content">
  
                  <!-- widget content -->
                  <div class="widget-body no-padding">


                     <% if @fees.empty? %>
                      <br>
                      <h1 style="font-size:30px; margin-left: 10px;">You haven't created any fees yet.</h1>
                      <h4 style="font-size:15px; margin-left: 10px;">Any additional fees go straight to you. Use them to increase revenue per order.</h4>
                      <br>
                    <% else %>
                     
                    <div class="dt-wrapper">
                      <table id="dt_basic" class="table table-striped table-bordered table-hover dataTable" aria-describedby="dt_basic_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting" role="columnheader" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 150px;">Name</th>
                          <th class="sorting" role="columnheader" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 126px;">Amount</th>
                        </tr>
                      </thead>

                      <tbody role="alert" aria-live="polite" aria-relevant="all">

                      <% @fees.each do |fee| %> 
                          <tr class="<%= cycle("odd", "even") -%>">
                            <td class=" "><%= link_to fee.name, edit_fee_path(fee) %></td>
                            <td class=" "><%= number_to_currency(stripe_to_display(fee.amount)) %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <% end %>
                
              

                    </div>
                  </div>
                    
                  <a data-toggle="modal" href="#feeModal" class="btn btn-success btn-lg pull-left header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i>Add Fee</a>
                  </div>
                  <!-- end widget content -->
        
                </div>
                <!-- end widget div -->
        
              </div>
            </article>
            <!-- WIDGET END -->
        
          </div>
        
          <!-- end row -->
        
        </section>