
<div class="modal fade in" id="promocodeModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title">
          Make Code
        </h4>
      </div>
      <div class="modal-body no-padding">

          <%= form_for @promo_code, :url => { :action => :create }, html: {:class => "smart-form"} do |f| %>
          
              <fieldset>
          
                <section>
                  <div class="row">
                    <%= f.label :name, "Description", :class => "label col col-2" %>
                    <div class="col col-10">
                      <label class="input"> <i class="icon-append fa fa-ticket"></i>
                        <%= f.text_field :name, :placeholder => "E.g. Facebook page" %>
                      </label>
                    </div>
                  </div>
                </section>

                <section>
                  <div class="row">
                    <%= f.label :code, :class => "label col col-2" %>
                    <div class="col col-10">
                      <label class="input"> <i class="icon-append fa fa-money"></i>
                        <%= f.text_field :code, :placeholder => "FB50Off" %>
                      </label>
                    </div>
                  </div>
                </section>

                <section>
                  <div class="row">
                    <%= f.label :discount_type, "Discount type?", :class => "label col col-2" %>
                    <div class="col col-10">
                      <label class="input"> <i class="icon-append fa fa-calendar-o"></i>
                        <%= f.select :discount_type, options_for_select([ "percent", "flat_rate"], "percent_discount") %>
                      </label>
                    </div>
                  </div>
                </section>

                <section>
                  <div class="row">
                    <%= f.label :amount, :class => "label col col-2" %>
                    <div class="col col-10">
                      <label class="input"> <i class="icon-append fa fa-calendar-o"></i>
                        <%= f.text_field :amount %>
                      </label>
                    </div>
                  </div>
                </section>

              </fieldset>
              
              <footer>
                <%= f.submit "Create Code", :class => "btn btn-primary" %>
              </footer>
              <% end %>
            </form>           
            

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
