<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.label :email %>
   <%= f.text_field :email, :autofocus => true %>
   <br>
   <%= f.label :password %>
   <%= f.password_field :password %>

   <%= f.label :subdomain %>
   <%= f.text_field :subdomain %>
   <br><br>
   
  <div class="actions">
    <%= f.submit "Sign up", :class => "btn-primary btn" %>
  </div>
<% end %>
