
<!DOCTYPE html>
<html lang="en">

  <body class="page">

    <header role="banner" class="transparent light">
      <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
          <div id="brand">
            <h1 class="reset"><a href="<%= root_url %>">Swift</a></h1>
          </div><!-- brand -->
          <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
          <nav>
            <ul class="reset" role="navigation">
              <li class="menu-item">
                <a href="<%= root_url %>">Create an Event</a>
              </li>
              <li class="menu-item">
                <a href="<%= root_url %>">Login</a>
              </li>
            </ul>
          </nav>
        </div><!-- row-content -->  
      </div><!-- row -->  
    </header>

    <main role="main">
      <div id="intro-wrap">
        <div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">         
          <div class="intro-item" style="background-image: url(<%= image_path 'desktop.jpg' %>);">  
            <div class="caption">
              <h2>The Best Way to Organize Themed Races</h2>
              <p>Ticketing, Waves, Affiliate marketing all built</p>
              <a class="button white transparent" href="#">Create your event for free</a>
            </div><!-- caption -->           
          </div>                                                                
        </div><!-- intro -->
      </div><!-- intro-wrap -->

      <div id="main">
         <section class="row section text-light greyish" style="background-color: #FC6E51">
          <div class="row-content buffer even clear-after">
            <div class="column four centertxt">
              <div class="big-icon red"><i class="icon icon-tablet"></i></div>
                <div class="big-icon-text clear-after">
                  <h4>Affiliate Marketing</h4>
                    <p class="text-s">Incentivize your customers to market for you. When they get their friends to purchase event tickets, they get a small cut (amount determined by you if you turn affiliates on).</p>
                </div>
            </div>
            <div class="column four centertxt">
              <div class="big-icon green"><i class="icon icon-pocket"></i></div>
                <div class="big-icon-text clear-after">
                  <h4>Ticket and Wave Times</h4>
                  <p class="text-s">Want multiple waves for every ticket? Volunteer tickets? We have all that, built in from the ground up.</p>
                </div>
            </div>            
            <div class="column four last centertxt">
              <div class="big-icon green"><i class="icon icon-heart"></i></div>
                <div class="big-icon-text clear-after">
                  <h4>Get Paid Fast</h4>
                  <p class="text-s">Unlike Active, we don't hold your money hostage. Get paid on every ticket on a two day rolling basis.</p>
                </div>
            </div>
          </div>
        </section>  



        <section class="row section text-light greyish" style="background-color:#4FC1E9;">
          <div class="row-content buffer even clear-after" style="padding-top:30px;">         
            <div class="section-title" style="padding-bottom:30px"><h2>Increase Your Revenue per Customer</h2></div>
            <div class="blog-section masonry-style preload">

               <article class="test clearfix">
                      <%= image_tag "img3.png", :class => "left" %>
                      <div class="right">
                        <h3 class="column">Mobile Checkout</h3>
                        <ul>
                          <li>Event pages optimized for smartphones</li>
                          <li>Easy mobile checkout</li>
                          <li>Upsells </li>
                        </ul>
                      </div>
              </article>                    
           
              <article class="test clearfix">
                      <%= image_tag "img3.png", :class => "right" %>
                      <div class="left">
                        <h3 class="column">Sell More Merchandise</h3>
                        <ul>
                          <li>Add upsells to checkout</li>
                          <li>Analyze what sells best</li>
                          <li>Included automatically for all events</li>
                        </ul>
                      </div>
              </article> 

              <article class="test clearfix">
                      <%= image_tag "img3.png", :class => "left" %>
                      <div class="right">
                        <h3 class="column">Flexible Reporting</h3>
                        <ul>
                          <li>Custom date ranges</li>
                          <li>Issue refunds yourself</li>
                          <li>Filter by Event</li>
                        </ul>
                      </div>
              </article>
                                   
              <div class="shuffle-sizer three"></div>
            </div><!-- grid-items -->
          </div>  
        </section>  

        <section class="row section text-light" style="background-color:#cec8bc">
          <div class="row-content buffer even clear-after">
            <div class="column six push-six last-special">
              <h2>OneChat Design</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
              <p><em>- Courtesy of <a href="http://stockapps.net/" target="_blank">Stockapps</a>.</em></p>
              <a class="button transparent white" href="http://stockapps.net/">Explore</a>
            </div>            
            <div class="side-mockup left-mockup animation">
              <div class="slider iphone-slider white" data-autoplay="3000">
                <figure>
                  <div><img src="http://placehold.it/640x1136/ddd/fff&text=Beetle%20image" alt=""></div>
                  <div><img src="http://placehold.it/640x1136/ddd/fff&text=Beetle%20image" alt=""></div>
                  <div><img src="http://placehold.it/640x1136/ddd/fff&text=Beetle%20image" alt=""></div>
                  <div><img src="http://placehold.it/640x1136/ddd/fff&text=Beetle%20image" alt=""></div>
                  <div><img src="http://placehold.it/640x1136/ddd/fff&text=Beetle%20image" alt=""></div>
                  <div><img src="http://placehold.it/640x1136/ddd/fff&text=Beetle%20image" alt=""></div>
                </figure>
              </div>
            </div>            
          </div>  
        </section>                    
                

        <section class="row section">
          <div class="row-content buffer even clear-after">
            <div class="column three">
              <div class="count-item">
                <div class="small-icon red"><i class="icon icon-leaf"></i></div>
                <div class="count-number" data-from="0" data-to="1284" data-speed="1000" data-refresh-interval="25"></div>
                <div class="count-subject">Active projects</div>
              </div><!-- count-item -->
            </div>
            <div class="column three">
              <div class="count-item">
                <div class="small-icon red"><i class="icon icon-heart"></i></div>
                <div class="count-number" data-from="0" data-to="28903" data-speed="1500" data-refresh-interval="25"></div>
                <div class="count-subject">Users who love them</div>
              </div><!-- count-item -->
            </div>
            <div class="column three">
              <div class="count-item">
                <div class="small-icon red"><i class="icon icon-tshirt"></i></div>
                <div class="count-number" data-from="0" data-to="326" data-speed="2000" data-refresh-interval="25"></div>
                <div class="count-subject">T-Shirts &amp; Gadgets</div>
              </div><!-- count-item -->
            </div>
            <div class="column three last">
              <div class="count-item">
                <div class="small-icon red"><i class="icon icon-graph"></i></div>
                <div class="count-number" data-from="0" data-to="58802" data-speed="2500" data-refresh-interval="25"></div>
                <div class="count-subject">Everyday visitors</div>
              </div><!-- count-item -->
            </div>
          </div>  
        </section>

        <section class="row section text-light" style="background-color:#FF8CB9">
          <div class="row-content buffer even clear-after">
            <div class="section-title"><h3>Frankie's Dribbble Shots</h3></div>
            <div class="dribbble-items portfolio-section preload" data-username="frankiefreesbie" data-elements="4">
            </div><!-- dribbble-items -->
            <div class="more-btn"><a class="button transparent white" href="http://dribbble.com/frankiefreesbie">View all Shots</a></div>           
          </div>  
        </section>               

        <section class="row section">
          <div class="map" data-maplat="51.511214" data-maplon="-0.119824" data-mapzoom="15" data-color="" data-height="22.222" data-img="img/marker.png" data-info="I am based in London, UK"></div>
        </section>     

        <section class="row section call-to-action">
          <div class="row-content buffer even">
            <p>What are you waiting for?</p>
            <a class="button red" href="#">Create an event for free</a>
          </div>
        </section>             

      </div><!-- id-main -->
    </main><!-- main -->

    <footer role="contentinfo">
      <div class="row">
        <div class="row-content buffer clear-after">
          <section id="top-footer">
            <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
              <h4>Menu</h4>
              <ul class="plain">
                <li><a href="home-01.html">Home</a></li>
                <li><a href="works-3-columns.html">Portfolio</a></li>
                <li><a href="blog-4-columns-masonry.html">Blog</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="file:///Users/pasqualevitiello/My%20Folder/Job/Envato/PR%20Themeforest/Flattie/Markup/Beetle/contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="widget column three">
            <!--   <h4>Archives</h4>
              <ul class="plain">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">April 2014</a></li>
                <li><a href="#">May 2014</a></li>
                <li><a href="#">June 2014</a></li>
                <li><a href="#">July 2014</a></li>
              </ul> -->
            </div>                
            <div class="widget column three">
              <h4>Widget</h4>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>        
            <div class="widget meta-social column three">
              <h4>Follow Us</h4>
              <ul class="inline">
                <li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
              </ul>
            </div>                            
          </section><!-- top-footer -->
          <section id="bottom-footer">
            <p class="keep-left">&copy; 2014 <a href="http://mokaine.com/" alt="Mokaine Lab">Mokaine</a>. All Rights Reserved.</p>
            <p class="keep-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </section><!-- bottom-footer -->      
        </div><!-- row-content -->  
      </div><!-- row -->  
    </footer>
<%= javascript_include_tag "https://code.jquery.com/jquery.js" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<%= javascript_include_tag "beetle/plugins.js" %>
<%= javascript_include_tag "beetle/beetle.js" %>

  </body>

</html>
