<%= render 'new_event_details', :f => f %>

<div class="form-group">
  <%= f.label :timezone, "Time Zone" %>
  <%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :street_address_one, "Street Address" %>
  <%= f.text_field :street_address_one, :placeholder => "123 Parkway", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :street_address_two, "Street Address" %>
  <%= f.text_field :street_address_two, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :city %>
  <%= f.text_field :city, :placeholder => "Mountain View", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :state %>
  <%= f.text_field :state, :placeholder => "CA", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode, :placeholder => "94806", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :google_maps_iframe, "Google Maps Embed Link" %>
  <%= f.text_field :google_maps_iframe, :class => "form-control" %>
</div>

<%= f.submit :class => "btn btn-primary" %>