<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= render 'event_details', :f => f %>

   <h4>Create tickets<h4>
     <%= render "ticket/form", :f => f %> 
     <%= button_tag "Add ticket", :id => "add_ticket", :type => "button", :class => "btn btn-info" %>
   <br><br>

   <h4>Create fees<h4>
     <%= render "fee/form", :f => f %> 
     <%= button_tag "Add fee", :id => "add_fee", :type => "button", :class => "btn btn-info" %>
   <br><br>

  <div class="actions">
    <%= f.submit "Save Event", :class => "btn btn-primary" %>
  </div>

  <div class="hide" id="new_ticket_form">
    <%= render "ticket/form", :f => f %> 
  </div>
  <div class="hide" id="new_fee_form">
    <%= render "fee/form", :f => f %> 
  </div>

<% end %>
