<%= render "layouts/left_panel" %>
<div id="main" role="main">
<div id="content">

<%= form_for(@event) do |f| %>

  <%= render 'errors', :f => f %>
  <%= render 'event_details', :f => f if last_path(request.path) == "edit" %>
  <%= render 'registration', :f => f if last_path(request.path) == "registration" %>
  <%= render 'publish', :f => f if last_path(request.path) == "publish" %>

<% end %>
</div>
</div>
<%= javascript_include_tag "smart-admin/app" %>