<div class="form-group">
  <%= f.label :path, "URL Extension" %>
  <%= f.text_field :path, :placeholder => "e.g. denver-july-2013", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :cols => "50", :rows => "5", :placeholder => "Event description", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :waiver, "Waiver text" %>
  <%= f.text_area :waiver, :cols => "50", :rows => "3", :placeholder => "Text so you don't get sued", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :receipt_html, "Receipt sent after signups" %>
  <%= f.text_area :receipt_html, :class => "form-control editor", :rows => "5" %>
  <br><br><br>
</div>

<div class="form-group">
  <%= f.label :packet_pickup_info_html, "Packet pickup info" %>
  <%= f.text_area :packet_pickup_info_html, :class => "form-control editor", :rows => "5" %>
  <br><br><br>
</div>

<div class="form-group">
  <%= f.label :race_day_info_html, "Race day info" %>
  <%= f.text_area :race_day_info_html, :class => "form-control editor", :rows => "5" %>
</div>

