<div class="form-group">
  <%= f.label :receipt_html, "Receipt sent after signups" %>
  <%= f.text_area :receipt_html, :class => "form-control editor", :rows => "5" %>
  <br><br><br>
</div>

<div class="form-group">
  <%= f.label :packet_pickup_info_html, "Packet pickup info" %>
  <%= f.text_area :packet_pickup_info_html, :class => "form-control editor", :rows => "5" %>
  <br><br><br>
</div>

<div class="form-group">
  <%= f.label :race_day_info_html, "Race day info" %>
  <%= f.text_area :race_day_info_html, :class => "form-control editor", :rows => "5" %>
</div>