<div class="form-group">
  <%= f.label :path, "URL Extension" %>
  <%= f.text_field :path, :placeholder => "e.g. denver-july-2013", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :cols => "50", :rows => "5", :placeholder => "Event description", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :waiver, "Waiver text" %>
  <%= f.text_area :waiver, :cols => "50", :rows => "3", :placeholder => "Text so you don't get sued", :class => "form-control" %>
</div>

