<div class="form-group">
  <%= fields_for @event.user.account do |builder| %>
    <%= builder.label :header, "Custom header HTML/CSS" %>
    <%= builder.text_area :header, :class => "form-control" %>
  <% end %>
</div>

<div class="form-group">
  <%= fields_for @event.user.account do |builder| %>
    <%= builder.label :footer, "Custom footer HTML/CSS" %>
    <%= builder.text_area :footer, :class => "form-control" %>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :about, "Event Description (tab1)" %>
  <%= f.text_area :about, :cols => "50", :rows => "5", :placeholder => "About the Event", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :packet_info, "What Comes in the Packet? (tab2)" %>
  <%= f.text_area :packet_info, :class => "form-control editor", :rows => "5" %>
</div>

<div class="form-group">
  <%= f.label :packet_pickup_info_html, "Packet Pickup Info (tab3)" %>
  <%= f.text_area :packet_pickup_info_html, :class => "form-control editor", :rows => "5" %>
</div>

<div class="form-group">
  <%= f.label :race_day_info_html, "Race Day Info (tab4)" %>
  <%= f.text_area :race_day_info_html, :class => "form-control editor", :rows => "5" %>
</div>

<div class="form-group">
  <%= f.label :deadline_pricing_info, "Deadline and Pricing Info (tab5)" %>
  <%= f.text_area :deadline_pricing_info, :class => "form-control editor", :rows => "5" %>
</div>

<div class="form-group">
  <%= f.label :volunteer_info, "Volunteer Info (tab6)" %>
  <%= f.text_area :volunteer_info, :class => "form-control editor", :rows => "5" %>
</div>

<div class="form-group">
  <%= f.label :charity_info, "Charity Info (tab7)" %>
  <%= f.text_area :charity_info, :class => "form-control editor", :rows => "5" %>
</div>

<div class="form-group">
  <%= f.label :waiver, "Waiver text" %>
  <%= f.text_area :waiver, :cols => "50", :rows => "3", :placeholder => "Text so you don't get sued", :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :receipt_html, "Receipt sent after signups" %>
  <%= f.text_area :receipt_html, :class => "form-control editor", :rows => "5" %>
</div>

<%= f.submit :class => "btn btn-primary" %>