<% if @event.published %>

  <h2><%= @event.title %></h2>

  <%# if @event.on_sale %>

      <%= form_tag url_for(:controller => "orders", :action => "new", :event_id => @event), :method => "get" %>
        <% @event.tickets.each do |ticket| %>
          <%= label_tag ticket.ticket_type, nil %>
          <%= radio_button_tag :ticket, ticket.ticket_type %>
          <br>
        <% end %>
      <%= submit_tag "Start Order", :class => "btn btn-primary" %>

    <%# else %>
    <!-- <h3>Registration opening soon!</h3> -->
  <%# end %>

  <% else %>
    <%= page_not_found %>
<% end %>