<% if @event.published %>

  <h2><%= @event.title %></h2>

  <% if @event.on_sale %>

      <%= form_tag url_for(:controller => "orders", :action => "new", :event_id => @event), :method => "get" %>
        <% @event.tickets.each do |ticket| %>
          <%= label_tag ticket.ticket_type, nil, :class => "col-sm-3 control-label" %>
          <%= select_tag "ticket", options_for_select([0,1,2,3,4,5,6,7,8,9,10],ticket.ticket_type), :name => "tickets[#{ticket.ticket_type}]", :class => "form-control"  %>
        <% end %>
      <%= submit_tag "Start Order", :class => "btn btn-primary" %>

    <% else %>
    <h3>Registration opening soon!</h3>
  <% end %>

  <% else %>
    <%= page_not_found %>
<% end %>