<div id="main" role="main" style="margin-left: 200px;">
  <div id="content">

    <%= form_for @affiliate_setting do |f| %>
      <div class="form-group">
        <%= f.label :enabled %>
        <%= f.select :enabled, [["No",false], ["Yes",true]], :class => "form-control editor" %>
      </div>

    <!--   <div class="form-group">
        <%#= f.label :discount_type %>
        <%#= f.select :discount_type, [["Percent","percent"], ["Flat rate", "flat_rate"]], :class => "form-control editor" %>
      </div> -->

      <div class="form-group">
         <%= f.label :amount %>
         <%= f.text_field :amount, :name => "affiliate_setting[amount]", :class => "form-control", :value => @affiliate_setting.amount / 100.000 %>
      </div>

      <div class="form-group">
        <%= f.label :reward_type %>
        <%= f.select :reward_type, [["Pay Both","both"], ["Pay Both Code Sharer & Redeemer", "Pay Only Code Sharer"]], :class => "form-control editor"  %>
      </div>

    <br>
    <%= f.submit "Save Changes", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>