<%= form_for @affiliate_setting do |f| %>
<div class="form-group">
  <%= f.label :enabled %>
  <%= f.select :enabled,  [["No",false], ["Yes",true]], :class => "form-control editor" %>
</div>

<div class="form-group">
  <%= f.label :discount_type %>
  <%= f.select :discount_type, [["Percent","percent"], ["Flat rate", "flat_rate"]], :class => "form-control editor" %>
</div>

<div class="form-group">
  <%= f.label :reward_type %>
  <%= f.select :reward_type, [["Pay Both","both"], ["Pay Only Affiliate", "affiliate"]], :class => "form-control editor"  %>
</div>

<br>
<%= f.submit "Save Changes", :class => "btn btn-primary" %>
<% end %>