<%= render 'events/stripe_publishable_key' %>

<div class="checkout">
  <div class="container">
    <%= render 'orders/header', :user => @user %>
    <% if @event.published %>
      <%= form_tag url_for(:controller => "orders", :action => "create", :event_id => @event), :method => "post", :id => "order_form", :class => "form-horizontal" %>
        
      <h4><%= "#{@ticket.ticket_type}" %></h4>

      <%= render 'events/form_fields/participant', :ticket => @ticket %>
      <%= render 'events/form_fields/ticket', :ticket => @ticket %>
      <%= render 'events/form_fields/name', :ticket => @ticket.ticket_type %>
      <%= render 'events/form_fields/email', :ticket => @ticket %>
      <%= render 'events/form_fields/shirt_size', :ticket => @ticket %>
      <%= render 'events/form_fields/phone', :ticket => @ticket %>
      <%= render 'events/form_fields/gender', :ticket => @ticket %>
      <%= render 'events/form_fields/password', :ticket => @ticket %>
      <br>
      <%= render 'events/form_fields/waiver' %>
      <%= render 'events/form_fields/select_team_option' %>
      <%= render 'events/form_fields/select_wave' %>
      <br>
      <%= render 'events/payment_info' %>
      <%= render 'events/form_fields/referral_code' %>
      <%= render 'summary' %>

      <%= submit_tag "Place order", :class => "btn btn-warning" %>
    <% else %>
      <%= page_not_found %>
    <% end %>

    <%= render 'orders/footer', :user => @user %>
  </div>

</div>