<%= render 'events/stripe_publishable_key' %>

<div class="checkout">
  <div class="container">
    <p id="error"><%= flash[:error] %></p>
    <%= render 'orders/header', :user => @user %>
    <% if @event.published %>
      <%= form_tag url_for(:controller => "orders", :action => "create", :event_id => @event), :method => "post", :id => "order_form", :class => "form-horizontal" %>

      <h4><%= "#{@ticket.ticket_type}" %></h4>
       <div id="error_field">
       </div>
      <%= render 'events/form_fields/participant' %>
      <%= render 'events/form_fields/ticket', :ticket => @ticket %>
      <%= render 'events/form_fields/name' %>
      <%= render 'events/form_fields/email' %>
      <%= render 'events/form_fields/shirt_size' %>
      <%= render 'events/form_fields/phone' %>
      <%= render 'events/form_fields/gender' %>
      <%= render 'events/form_fields/password' %>
      <br>
      <%= render 'events/form_fields/waiver' %>
      <%= render 'events/form_fields/select_team_option' %>
      <%= render 'events/form_fields/select_wave' if @event.waves %>
      <br>
      <%= render 'events/payment_info' %>
      <%= render 'events/form_fields/referral_code' %>
      <%= render 'summary' %>

      <%= submit_tag "Place order", :class => "btn btn-warning" %>
    <% else %>
      <%= page_not_found %>
    <% end %>

    <%= render 'orders/footer', :user => @user %>
  </div>

</div>