<%= render 'events/stripe_publishable_key' %>

<div class="checkout">
  <div class="container">
    <%= render 'orders/header', :user => @user %>
    <% if @event.on_sale %>
      <%= form_tag url_for(:controller => "orders", :action => "create", :event_id => @event), :method => "post", :id => "order_form", :class => "form-horizontal" %>
        
        <% @tickets.each do |ticket| %>
          <% ticket[1].to_i.times do |i| %>
            <h4><%= "#{ticket[0]} ##{i+1}" %></h4>
            <%= render 'events/form_fields/name', :ticket => ticket[0] %>
            <%= render 'events/form_fields/email', :ticket => ticket[0] %>
            <%= render 'events/form_fields/shirt_size', :ticket => ticket[0] %>
            <%= render 'events/form_fields/phone', :ticket => ticket[0] %>
            <%= render 'events/form_fields/gender', :ticket => ticket[0] %>
            <%= render 'events/form_fields/password', :ticket => ticket[0], :i => i %>
          <% end %>
        <% end %>

      <br>
      <%= render 'events/form_fields/waiver' %>
      <%= render 'events/form_fields/select_team_option' %>
      <%= render 'events/form_fields/select_wave' %>

      <%= render 'events/form_fields/referral_code' %>
      <%= render 'events/payment_info' %>
      <%= render 'summary' %>
      <%= submit_tag "Place order", :class => "btn btn-warning" %>
    <% else %>
      <%= page_not_found %>
    <% end %>

    <%= render 'orders/footer', :user => @user %>
  </div>

</div>