<body>
  <%= javascript_include_tag "facebook/sdk.js" %>

    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="header" class="no-bg">
      <div class="wrapper clearfix lifted drop-shadow">
        <%= image_tag "success-header2.jpg", :clsas => "header-innerimg" %>
        <!-- <img src="img/header-image.png" class="header-innerimg" alt="" /> -->
      </div><!-- /.wrapper -->
    </div><!-- /#header.no-bg -->
    <div id="main" role="main">
      <div class="wrapper order-confirm">
        <div class="step check text-center">
          <i></i>
          <h1><span>Success!</span> You're going to <%= @event.title %></h1>
        </div><!-- /.step -->
        <div class="step">
          <i>1</i>
          <div class="affiliate-code text-center">
            Your affiliate code is:
            <span><%= @participant.affiliate_code.code %></span>
<!--             <a href="#">Copy to clipboard</a> -->
            <a id="copy_button" data-clipboard-text='<%= @participant.affiliate_code.code %>'>Copy to Clipboard</a>

          </div><!-- /.affiliate-code text-center -->
          <h2>Get a Discount:</h2>
          <p>Every time a friend buys a ticket with your code, you BOTH save <span class="red"><%= number_to_currency(@event.affiliate_setting.amount) %></span>.</p>
        </div><!-- /.step -->
        <div class="step share-code">
          <i>2</i>
          <h2>Share your code <span></span></h2>
          <div class="clearfix">
            <a href="https://www.facebook.com/dialog/share?app_id=<%= FACEBOOK_APP_ID %>&display=popup&href=<%= public_event_url(@event) %>&redirect_uri=<%= success_order_url(@event) %>" class="btn facebook"><span>Share on Facebook</span></a>
            <a href="https://twitter.com/share?text=<%= "I just signed up for #{@event.title}! Buy with my link and we'll BOTH save #{number_to_currency(@event.affiliate_setting.amount)}" %>&url=<%=  "#{public_event_url(@event)}" + "/" + "#{@participant.affiliate_code.code}" %>" class="btn twitter twitter-share-button" data-lang="en"><span>Share on Twitter</span></a>
            <a class="btn mail" href="mailto:?Subject=Come%20with%20me%20to%20<%= @event.title %>?&Body=Hey,<br><br>I%20just%20bought%20a%20ticket%20to%20<%= @event.title %>.<br><br>%20If%20you%20use%20this%20link%20<%= "#{public_event_url(@event)}/#{@participant.affiliate_code.code}" %>%20we'll%20both%20save%20<%= number_to_currency(@event.affiliate_setting.amount) %>!<br><br><%= @participant.first_name %>"><span>Share Via Mail</span></a>
          </div><!-- /.clearfix -->
        </div><!-- /.step -->
        <div class="step">
          <i>3</i>
          <h2>event details</h2>
          <p>Go <%= link_to "here", public_event_url(@event) %> for all event details! We'll send your email updates as the big day gets closer!</p>
        </div><!-- /.step -->
      </div><!-- /.wrapper.order-confirm -->
    </div>
    <div class="clear"></div><!-- /.clear -->
  </body>
