<div id="ticket-group">
    <%= f.fields_for :ticket do |builder| %>
      <%= builder.label :name, "Ticket name" %>
      <%= builder.text_field :name, :placeholder => "Ticket name", :name => "event[ticket][ticket_type][]" %>
    <br>
      <%= builder.label :price, "Ticket price" %>
      <%= builder.text_field :price, :placeholder => "0.00", :name => "event[ticket][price][]" %>
    <br>
       <%= builder.label :for_sale_begin, "Start date" %>
       <%= builder.date_field :for_sale_begin, :format => "yyyy-MM-dd", :name => "event[ticket][for_sale_begin][]" %>
    <br>
      <%= builder.label :for_sale_end, "End date" %>
      <%= builder.date_field :for_sale_end, :format => "yyyy-MM-dd", :name => "event[ticket][for_sale_end][]" %>
    <br><br>
     <% end %>
</div>