<%= render "layouts/event_header" %>
  <%= form_for(@wave) do |f| %>

  <div class="form-group">
    <%= f.label :start_time, :class => "wlabel" %>
    <%= f.time_field :start_time, :format => "yyyy-MM-dd", :name => "wave[start_time]", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, "Number of people in wave", :class => "wlabel" %>
    <%= f.text_field :quantity, :placeholder => "700", :name => "wave[quantity]", :class => "form-control" %>
  </div>

  <div class="form-group">
     <%= f.label :title, "Title", :class => "wlabel" %>
     <%= f.text_field :title, :format => "yyyy-MM-dd", :name => "wave[title]", :class => "form-control" %>
  </div>

  <%= f.submit "Save Changes", :class => "btn btn-primary" %>

<% end %>