<header role="heading">
    <ul class="nav nav-tabs pull-left in" id="myTab">
      
        <%= content_tag(:li, nil, :class => tab_active?("edit")) do %>
          <%= link_to edit_event_path(@event) do %>
            <i class="fa fa-clock-o"></i>
            <span class="hidden-mobile hidden-tablet">Location and Time</span>
          <% end %>
        <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("ticket")) do %>
        <%= link_to tickets_path(@event) do %>
          <i class="fa fa-ticket"></i>
          <span class="hidden-mobile hidden-tablet">Tickets</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("waves")) do %>
        <%= link_to waves_path(@event) do %>
          <i class="fa fa-rocket"></i>
          <span class="hidden-mobile hidden-tablet">Waves</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("fee")) do %>
        <%= link_to fees_path(@event) do %>
          <i class="fa fa-credit-card"></i>
          <span class="hidden-mobile hidden-tablet">Fees</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("registration")) do %>
        <%= link_to registration_path(@event) do %>
          <i class="fa fa-barcode"></i>
          <span class="hidden-mobile hidden-tablet">Registration Page</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("other_info")) do %>
        <%= link_to other_info_path(@event) do %>
          <i class="fa fa-info-circle"></i>
          <span class="hidden-mobile hidden-tablet">Other info</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("promo_codes")) do %>
        <%= link_to referral_codes_path(@event) do %>
          <i class="fa fa-envelope-o"></i>
          <span class="hidden-mobile hidden-tablet">Promo Codes</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("affiliate_settings")) do %>
        <%= link_to affiliate_settings_path(@event) do %>
          <i class="fa fa-envelope-o"></i>
          <span class="hidden-mobile hidden-tablet">Affiliate Settings</span>
        <% end %>
      <% end %>

      <%= content_tag(:li, nil, :class => tab_active?("publish")) do %>
        <%= link_to publish_path(@event) do %>
          <i class="fa fa-play"></i>
          <span class="hidden-mobile hidden-tablet">Publish</span>
        <% end %>
      <% end %>

    </ul>
</header>
<br><br><br>