    <aside id="left-panel" style="top: 70px; width: 200px;">

      <nav>
        <ul class="tabs">
          <% if can? :edit, @event %>
          <li id="location">
            <%= link_to edit_event_path(@event), :onclick => "selectTab('location')" do %>
               <i class="fa fa-lg fa-fw fa-clock-o"></i>
               <span class="menu-item-parent">Location and time</span>
            <% end %>
          </li>

          <li id="tickets">
            <%= link_to tickets_path(@event), :onclick => "selectTab('tickets')" do %>
               <i class="fa fa-lg fa-fw fa-ticket"></i>
               <span class="menu-item-parent">Tickets</span>
            <% end %>
          </li>

          <li id="fees">
            <%= link_to fees_path(@event), :onclick => "selectTab('fees')" do %>
                <i class="fa fa-lg fa-fw fa-credit-card"></i>
                <span class="menu-item-parent">Fees</span>
            <% end %>
          </li>

          <li id="waves">
           <%= link_to waves_path(@event), :onclick => "selectTab('waves')" do %>
               <i class="fa fa-lg fa-fw fa-rocket"></i>
               <span class="menu-item-parent">Waves</span>
           <% end %>
          </li>

          <li id="registration">
           <%= link_to registration_path(@event), :onclick => "selectTab('registration')" do %>
               <i class="fa fa-lg fa-fw fa-barcode"></i>
               <span class="menu-item-parent">Registration Page</span>
           <% end %>
          </li>

          <li id="promos">
             <%= link_to promo_codes_path(@event), :onclick => "selectTab('promos')" do %>
               <i class="fa fa-lg fa-fw fa-flag-checkered"></i>
               <span class="menu-item-parent">Promo Codes</span>
             <% end %>
          </li>

          <li id="affiliates">
             <%= link_to affiliate_settings_path(@event), :onclick => "selectTab('affiliates')" do %>
               <i class="fa fa-lg fa-fw fa-gears"></i>
               <span class="menu-item-parent">Affiliate Settings</span>
             <% end %>
          </li>

          <li id="publish">
             <%= link_to publish_path(@event), :onclick => "selectTab('publish')" do %>
               <i class="fa fa-lg fa-fw fa-play"></i>
               <span class="menu-item-parent">Publish</span>
             <% end %>
          </li>

          <% end %>

        </ul>
      </nav>

    </aside>