<header id="header" style="border-bottom: 1px #c3c3c3 solid; height:70px;">
      <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo" style="margin: 0 0 0 10px;"><%= link_to (image_tag "logo.png"), root_url, :style => "width: 65%;" %></span>

        <!-- END LOGO PLACEHOLDER -->

        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
        
        <!-- END AJAX-DROPDOWN -->
      </div>

        <!--   <div class="btn-header transparent pull-left">
          <%= link_to "Create an Event", new_event_path, :class => "btn btn-primary", :style => "margin-top:18px; margin-left:000px;" %>
          </div>

           <div class="btn-header transparent pull-left">
          <%= link_to "Lookup a Customer", customers_path, :class => "btn btn-primary", :style => "margin-top:18px; margin-left:50px;" %>
          </div> -->


      <!-- projects dropdown -->
   
      <!-- end projects dropdown -->

      <!-- pulled right: nav area -->
      <div class="pull-left">

         <ul class="header-dropdown-list hidden-xs">
          <li>
            <%= link_to "Settings", settings_path, :class => "dropdown-toggle", :style => "margin: 25px 0; color: #0036ff" %>
          </li>
        </ul>

         <ul class="header-dropdown-list hidden-xs">
          <li>
            <%= link_to "Customers", customers_path, :class => "dropdown-toggle", :style => "margin: 25px 0; color: #0036ff" %>
          </li>
        </ul>

        <ul class="header-dropdown-list hidden-xs">
          <li>
            <%= link_to "Events", events_path, :class => "dropdown-toggle", :style => "margin: 25px 0; color: #0036ff" %>
          </li>
        </ul>

         <ul class="header-dropdown-list hidden-xs">
          <li>
            <%= link_to "Dashboard", dashboard_path, :class => "dropdown-toggle", :style => "margin: 25px 0; color: #0036ff" %>
          </li>
        </ul>

      </div>
      <!-- end pulled right: nav area -->

    </header>