<%= render "layouts/header" %>
<body class="">
<%= render "layouts/navbar" %>
<%= render "layouts/left_panel" %>

  <div id="main" role="main">
    <%= render "layouts/ribbon" %>
    <div id="content">
      <%= yield %>
      <%#= render "layouts/modals" %>
    </div>
  </div>
  
  
<%= render 'layouts/javascript' %>
</body>
</html>
